$primary:        #333333;
$darkPrimary:    #1A1A1A;
$darkForeground: #EEEEEE;
$hilite:         #162D4F;
$codebg:         #333333;
$inlineFg:       #FF7F2B;

@mixin vendor-prefix($name, $value) {
    @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
        #{$vendor}#{$name}: #{$value};
    }
}

body > nav {
    height: 62px;
}

.code {
    border-radius:              0.25em;
    background-color:           $codebg;
    color:                      $darkForeground;
    font-family:                monospace;
    white-space:                pre-wrap;
    padding:                    0.25em 0.5em;
    margin-bottom:              0;
    width:                      100%;
    display:                    block;
}

pre > code {
    @extend .code
}

code {
    color: $inlineFg;
}

h3 {
    margin-bottom: 0.5em;
}

.nav-pills {
    .nav-link {
        border-radius:    0;
        padding:          0.8rem;
    }

    .nav-link.active {
        background-color: $hilite;
    }
}

#functions {
    padding: 0;
}

#sidebar {
    position: sticky !important;
    top:      62px;
}

#content {
    padding-top: 15px;
    position: relative;
}

.bg-diecast {
    background-color: $primary !important;
}

.bg-diecast-dark {
    background-color: $darkPrimary !important;
    color: $darkForeground;
}

.bg-diecast-dark a {
    color: $darkForeground;
}

.unselectable {
    @include vendor-prefix('user-select', 'none');
}

.group {
    > header > h3 {
        background: #162D4F 99.5% 65% no-repeat url('/diecast/src/assets/img/diecast-logo-dark-bg-36.png');
        color:            $darkForeground;
        padding:          0.5rem;
    }

    .function {
        margin-bottom: 4em;
        border-top:    3px solid $primary;

        h5 {
            margin-top: 1em;

            span {
                font-family: monospace;
                white-space: pre;
                font-weight: bold;
            }
        }

        .examples {
            dd ~ dt {
                margin-bottom: 1em;
            }

            dd, dt {
                @extend .code
            }

            dd {
                border-bottom-left-radius:  0;
                border-bottom-right-radius: 0;
            }

            dt {
                border-top-left-radius:     0;
                border-top-right-radius:    0;
            }
        }
    }
}