<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <style type="text/css">
            html, body {
                font-family: monospace;
            }

            th {
                text-align: left;
            }

            .size {
                text-align: right;
                padding-right: 2em;
            }
        </style>
    </head>
    <body>
        {{ $p := (qs `p` `.`) }}

        <h1>{{ if eqx $p `.` }}/{{ else }}/{{ $p }}{{ end }}</h1>

        <hr />

        <table width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th class="size">Size</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tbody>
                {{ if and $p (nex $p `.`) }}
                <tr>
                    <td>
                        <a href="?p={{ dirname $p }}">..</a>
                    </td>
                    <td></td>
                    <td class="size"></td>
                    <td></td>
                </tr>
                {{ end }}

                {{ range $entry := filter (dir $p) `.IsDir` }}
                <tr>
                    <td>
                        <a href="?p={{ pathjoin $p $entry.Name }}">{{ $entry.Name }}</a>
                    </td>
                    <td>{{ if $entry.IsDir }}directory{{ else }}{{ mimetype $entry.Name }}{{ end }}</td>
                    <td class="size"></td>
                    <td>{{ time $entry.ModTime `rfc822` }}</td>
                </tr>
                {{ end }}
                {{ range $entry := filter (dir $p) `not .IsDir` }}
                <tr>
                    <td>
                        <a href="{{ pathjoin $p $entry.Name }}">{{ $entry.Name }}</a>
                    </td>
                    <td>{{ if $entry.IsDir }}directory{{ else }}{{ mimetype $entry.Name }}{{ end }}</td>
                    <td class="size">{{ rtrim (rtrim (autobyte $entry.Size "%.1f") `B`) `.0` }}</td>
                    <td>{{ time $entry.ModTime `rfc822` }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </body>
</html>
